In [1]:
import pandas as pd

In [2]:
%pip install pandas

Requirement already satisfied: pandas in /Users/zihan/nba-predictor/.venv/lib/python3.14/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/zihan/nba-predictor/.venv/lib/python3.14/site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/zihan/nba-predictor/.venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/zihan/nba-predictor/.venv/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/zihan/nba-predictor/.venv/lib/python3.14/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/zihan/nba-predictor/.venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_csv("../data/raw/game.csv")

In [4]:
df.head(10)

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season
5,21946,1610610026,CLR,Cleveland Rebels,24600006,1946-11-03 00:00:00,CLR vs. HUS,W,0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,60.0,-11,0,Regular Season
6,21946,1610610031,PIT,Pittsburgh Ironmen,24600007,1946-11-04 00:00:00,PIT vs. WAS,L,0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,71.0,15,0,Regular Season
7,21946,1610612738,BOS,Boston Celtics,24600008,1946-11-05 00:00:00,BOS vs. CHS,L,0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,57.0,2,0,Regular Season
8,21946,1610610028,DEF,Detroit Falcons,24600009,1946-11-05 00:00:00,DEF vs. BOM,L,0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,4,0,Regular Season
9,21946,1610610032,PRO,Providence Steamrollers,24600011,1946-11-07 00:00:00,PRO vs. CHS,W,0,31.0,...,NaN,NaN,NaN,NaN,NaN,14.0,65.0,-8,0,Regular Season

In [5]:
df_clean = df.dropna()
print(df_clean)

       season_id  team_id_home team_abbreviation_home  \
14166      41979    1610612747                    LAL
14167      41979    1610612755                    PHL
14170      41979    1610612755                    PHL
14171      31979    1610616833                    EST
14172      31979    1610616833                    EST
...          ...           ...                    ...
65691      42022    1610612743                    DEN
65692      42022    1610612743                    DEN
65693      42022    1610612748                    MIA
65694      42022    1610612748                    MIA
65695      42022    1610612743                    DEN

                team_name_home   game_id            game_date matchup_home  \
14166       Los Angeles Lakers  47900044  1980-05-07 00:00:00  LAL vs. PHL
14167       Philadelphia 76ers  47900045  1980-05-10 00:00:00  PHL vs. LAL
14170       Philadelphia 76ers  47900048  1980-05-16 00:00:00  PHL vs. LAL
14171  East NBA All Stars East  37900001  1980-02-03 00:00:00  EST vs. WST
14172  East NBA All Stars East  37900001  1980-02-03 00:00:00  EST vs. WST
...                        ...       ...                  ...          ...
65691           Denver Nuggets  42200401  2023-06-01 00:00:00  DEN vs. MIA
65692           Denver Nuggets  42200402  2023-06-04 00:00:00  DEN vs. MIA
65693               Miami Heat  42200403  2023-06-07 00:00:00  MIA vs. DEN
65694               Miami Heat  42200404  2023-06-09 00:00:00  MIA vs. DEN
65695           Denver Nuggets  42200405  2023-06-12 00:00:00  DEN vs. MIA

      wl_home  min  fgm_home  ...  reb_away  ast_away  stl_away  blk_away  \
14166       L  240      48.0  ...      34.0      34.0      14.0      11.0
14167       L  240      45.0  ...      56.0      20.0       5.0       5.0
14170       L  240      47.0  ...      52.0      27.0      14.0       4.0
14171       W  265      58.0  ...      55.0      34.0      17.0      16.0
14172       W  265      58.0  ...      55.0      34.0      17.0      16.0
...       ...  ...       ...  ...       ...       ...       ...       ...
65691       W  240      40.0  ...      43.0      26.0       5.0       4.0
65692       L  240      39.0  ...      31.0      28.0       5.0       4.0
65693       L  240      34.0  ...      58.0      28.0       3.0       5.0
65694       L  240      35.0  ...      34.0      26.0      11.0       7.0
65695       W  240      38.0  ...      44.0      18.0       9.0       7.0

       tov_away  pf_away  pts_away  plus_minus_away  video_available_away  \
14166      20.0     21.0     107.0                3                     0
14167      20.0     25.0     111.0               10                     0
14170      17.0     22.0     123.0               16                     0
14171      29.0     32.0     136.0               -8                     0
14172      29.0     32.0     136.0               -8                     0
...         ...      ...       ...              ...                   ...
65691       8.0     15.0      93.0              -11                     1
65692      11.0     22.0     111.0                3                     1
65693      14.0     18.0     109.0               15                     1
65694       8.0     18.0     108.0               13                     1
65695       8.0     21.0      89.0               -5                     1

       season_type
14166     Playoffs
14167     Playoffs
14170     Playoffs
14171     All-Star
14172     All Star
...            ...
65691     Playoffs
65692     Playoffs
65693     Playoffs
65694     Playoffs
65695     Playoffs

[46154 rows x 55 columns]

In [6]:
df = df.dropna(axis=1, how="all")
print(df.head(3))

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers

    game_id            game_date matchup_home wl_home  min  fgm_home  ...  \
0  24600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0  ...
1  24600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0  ...
2  24600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0  ...

   reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
0       NaN       NaN       NaN       NaN       NaN      NaN      68.0
1       NaN       NaN       NaN       NaN       NaN     25.0      51.0
2       NaN       NaN       NaN       NaN       NaN      NaN      53.0

   plus_minus_away  video_available_away     season_type
0                2                     0  Regular Season
1               -5                     0  Regular Season
2               -6                     0  Regular Season

[3 rows x 55 columns]

In [7]:
df = df.drop(columns=["game_date"])
print(df.head(3))

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers

    game_id matchup_home wl_home  min  fgm_home  fga_home  ...  reb_away  \
0  24600001  HUS vs. NYK       L    0      25.0       NaN  ...       NaN
1  24600003  BOM vs. PIT       W    0      20.0      59.0  ...       NaN
2  24600002  PRO vs. BOS       W    0      21.0       NaN  ...       NaN

   ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  plus_minus_away  \
0       NaN       NaN       NaN       NaN      NaN      68.0                2
1       NaN       NaN       NaN       NaN     25.0      51.0               -5
2       NaN       NaN       NaN       NaN      NaN      53.0               -6

   video_available_away     season_type
0                     0  Regular Season
1                     0  Regular Season
2                     0  Regular Season

[3 rows x 54 columns]

In [8]:
df_all_cleaned = df.dropna(how="all")
print(df_all_cleaned.iloc[:10, :10])

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers
3      21946    1610610025                    CHS            Chicago Stags
4      21946    1610610028                    DEF          Detroit Falcons
5      21946    1610610026                    CLR         Cleveland Rebels
6      21946    1610610031                    PIT       Pittsburgh Ironmen
7      21946    1610612738                    BOS           Boston Celtics
8      21946    1610610028                    DEF          Detroit Falcons
9      21946    1610610032                    PRO  Providence Steamrollers

    game_id matchup_home wl_home  min  fgm_home  fga_home
0  24600001  HUS vs. NYK       L    0      25.0       NaN
1  24600003  BOM vs. PIT       W    0      20.0      59.0
2  24600002  PRO vs. BOS       W    0      21.0       NaN
3  24600004  CHS vs. NYK       W    0      21.0       NaN
4  24600005  DEF vs. WAS       L    0      10.0       NaN
5  24600006  CLR vs. HUS       W    0      24.0       NaN
6  24600007  PIT vs. WAS       L    0      19.0       NaN
7  24600008  BOS vs. CHS       L    0      23.0       NaN
8  24600009  DEF vs. BOM       L    0      18.0       NaN
9  24600011  PRO vs. CHS       W    0      31.0       NaN

In [12]:
df_cleaned = df.drop(columns=["fga_home", "fg_pct_home", "fg3m_home", "fg3a_home", "fg3_pct_home", "reb_away", "ast_away", "stl_away", "blk_away", "tov_away"])
print(df_cleaned.iloc[:10, :50])

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers
3      21946    1610610025                    CHS            Chicago Stags
4      21946    1610610028                    DEF          Detroit Falcons
5      21946    1610610026                    CLR         Cleveland Rebels
6      21946    1610610031                    PIT       Pittsburgh Ironmen
7      21946    1610612738                    BOS           Boston Celtics
8      21946    1610610028                    DEF          Detroit Falcons
9      21946    1610610032                    PRO  Providence Steamrollers

    game_id matchup_home wl_home  min  fgm_home  ftm_home  ...  ftm_away  \
0  24600001  HUS vs. NYK       L    0      25.0      16.0  ...      20.0
1  24600003  BOM vs. PIT       W    0      20.0      16.0  ...      19.0
2  24600002  PRO vs. BOS       W    0      21.0      17.0  ...      11.0
3  24600004  CHS vs. NYK       W    0      21.0      21.0  ...      15.0
4  24600005  DEF vs. WAS       L    0      10.0      13.0  ...      14.0
5  24600006  CLR vs. HUS       W    0      24.0      23.0  ...      18.0
6  24600007  PIT vs. WAS       L    0      19.0      18.0  ...      27.0
7  24600008  BOS vs. CHS       L    0      23.0       9.0  ...       9.0
8  24600009  DEF vs. BOM       L    0      18.0      13.0  ...      13.0
9  24600011  PRO vs. CHS       W    0      31.0      11.0  ...      11.0

   fta_away  ft_pct_away  oreb_away  dreb_away  pf_away  pts_away  \
0      26.0        0.769        NaN        NaN      NaN      68.0
1       NaN          NaN        NaN        NaN     25.0      51.0
2       NaN          NaN        NaN        NaN      NaN      53.0
3       NaN          NaN        NaN        NaN     22.0      47.0
4       NaN          NaN        NaN        NaN      NaN      50.0
5       NaN          NaN        NaN        NaN      NaN      60.0
6       NaN          NaN        NaN        NaN      NaN      71.0
7       NaN          NaN        NaN        NaN      NaN      57.0
8       NaN          NaN        NaN        NaN      NaN      53.0
9       NaN          NaN        NaN        NaN     14.0      65.0

   plus_minus_away  video_available_away     season_type
0                2                     0  Regular Season
1               -5                     0  Regular Season
2               -6                     0  Regular Season
3              -16                     0  Regular Season
4               17                     0  Regular Season
5              -11                     0  Regular Season
6               15                     0  Regular Season
7                2                     0  Regular Season
8                4                     0  Regular Season
9               -8                     0  Regular Season

[10 rows x 44 columns]

In [13]:
import matplotlib as mpl